
@layer default {

  :where( :root, :host, :not(:defined), .default ) {
    all: unset;

    position: relative;
    
    box-sizing: border-box;
    width: min-content;
    height: min-content;

    flex: 0 0 auto; place-self: center

    display: inline-block;
    
    flex-flow: column nowrap; grid: auto-flow min-content / min-content;
    place-content: center; place-items: center;

    overflow: hidden;
    white-space: nowrap;
    
    font-family: Sans-Serif;
    letter-spacing: 1px;
    
    pointer-events: none;
    touch-action: none;
    user-select: none;
    -moz-user-modify: read-only;
    -webkit-user-modify: read-only;
    
    }

  :root {

    width: 100vw; height: 100vh;

    display: grid;
    grid: auto-flow max-content / max-content;
    place-content: stretch; place-items: stretch;
    
    }

  *::before, *::after, *::marker {
    white-space: pre;
    }

  }
