
@layer default {

  :where( :root, :host, :not(:defined), .default ) {
    all: unset;

    box-sizing: border-box;
    width: min-content;
    height: min-content;

    flex: 0 0 auto;
    
    flex-flow: column nowrap; grid-auto-flow: row;
    place-content: center; place-items: center;

    overflow: hidden;
    white-space: nowrap;
    
    font-family: Sans-Serif;
    
    pointer-events: auto;
    touch-action: none;
    user-select: none;
    -moz-user-modify: read-only;
    -webkit-user-modify: read-only;
    
    }

  }
