

/* Expected structure:

  .tree 
    1 .tree_leaf
    * (
      .tree_branch .tree_leaf
      .tree_leaf
      )

  .tree_leaf
    1 .tree_leaf_stem
    1 .tree_leaf_contents

  // optional button for clarity
  (.tree, .tree_branch) > .tree_leaf:first-child
    + tree_leaf_toggle

  // parent to child child branches alternate a-class
  (.tree, .tree_branch) > .tree_branch
    :is(.a)

  .tree_branch.a > tree_branch
    :is(:not(.a))

  */

@layer Tree {

  :has( > .tree) {
    --debug-background: orange;
    }
  
  .tree {
    display: flex; flex-flow: column nowrap;
    place-content: start; place-items: stretch;
    width: 100%; height: min-content;
    gap: 4px;
    --padding-step: 8px;
    --padding-a: var(--padding-step);
    --padding-b: var(--padding-step);
    }
  
  .tree_branch {
    display: contents;
    }
  
  .tree_branch.a {
    --padding-a: calc( var(--padding-b) + var(--padding-step) );
    --padding: var(--padding-a);
    }
  
  .tree_branch:not(.a) {
    --padding-b: calc( var(--padding-a) + var(--padding-step) );
    --padding: var(--padding-b);
    }

  :is( .tree, .tree_branch ).tree_branch_closed > :is( .tree_branch, .tree_leaf:not(:first-child) ) {
    display: none;
    }
  
  .tree_leaf {
    flex: 0 0 auto; place-self: stretch;
    display: flex; flex-flow: row nowrap;
    gap: 4px;
    place-content: stretch; place-items: stretch;
    width: 100%; 
    height: auto; min-height: calc( 4px + 1em + 4px );
    pointer-events: auto;
    }

  .tree_leaf:hover {
    background: #1111;
    }

  .tree_branch.a .tree_leaf:first-child {
    --padding: calc( var(--padding-a) - var(--padding-step) );
    }

  .tree_branch:not(.a) .tree_leaf:first-child {
    --padding: calc( var(--padding-b) - var(--padding-step) );
    }
  
  .tree_leaf_stem {
    flex: 0 0 auto; place-self: stretch;
    display: flex; flex-flow: row nowrap;
    height: auto; 
    --debug-background: blue;
    }

  .tree_leaf_stem::before {
    width: var(--padding); height: auto;
    display: block;
    content: "\00a0";
    }

  .tree_leaf:first-child .tree_leaf_stem::after {
    place-self: center;
    display: block;
    content: "▼";
    font-size: 0.6em;
    color: #1118;
    }

  .tree_branch_closed .tree_leaf .tree_leaf_stem::after {
    content: "▶";
    }

  .tree > .tree_leaf:first-child .tree_leaf_stem::after {
    display: none;
    }
  
  .tree_leaf:first-child .tree_leaf_stem {
    }
  
  .tree > .tree_leaf:first-child .tree_leaf_stem {
    --padding: 0px;
    }
  
  .tree_leaf_contents {
    display: contents;
    }

  .tree_leaf:first-child .tree_leaf_contents {
/*    font-weight: bold;*/
/*    color: #111C;*/
    --debug-background: yellow;
    }

  .tree > .tree_leaf:first-child .tree_leaf_contents {
/*    font-size: 1.2em;*/
    font-weight: bold;
    color: #111A;
    }

  }

  
